form {
    display: inline-grid;
    padding-left: 8px
}

button {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form.addNote-form {
    margin-top: 50px;
}